.card-container {
    width: 18rem;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-2);
    box-shadow: 0 7px 30px -10px rgb(150,170,180, 0.8);
}