.navBar {
    margin: 0;
    padding: 0.5rem;
    overflow: hidden;
    background-color: var(--main-1);
    display: flex;
    justify-content: flex-end;
    
}
  
  
.navlink {
    display: block;
    color: var(--title-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.1s ease-out;
}
  
  
.navlink:hover {
    background-color: var(--main-bg-2);
    color: var(--text-color);
}
